<% @users.each do |category| %>
    <div class="card text-white bg-red mb-3" style="max-width: 20rem; ">
    <div class="card-header" style="background-color: #007bff;"><%=  category.email %></div>
    </div>
  <% end %>
  