/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 

 .bg_img {
    background-image: url(../images/newsimage.jpg);
    text-align: center;
    padding: 20px 0;
    padding-bottom: 50px;
  }
   .container-fluid {
      display: flex;
      height: 80vh; /* Set the height of the container to the full height of the viewport */
    }
    
    .sidebar {
      flex: 1; /* Set the width of the sidebar to 200px */
      background-color: #f1f1f1; /* Optional: Set a background color */
      overflow: hidden; /* Hide any content that overflows the sidebar */
    }
    
    .content {
      flex: 2; /* Make the content area take up the remaining width */
      overflow-y: auto; /* Add a vertical scrollbar to the content area */
    }
   
